<% content_for :javascripts do %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= form_tag charts_events_path, method: :get, id: "chart-form" do %>
      <div class="form-group">
        <div class="col-md-3">
          <%= select_tag :owner_type, options_for_select([["Owner", nil]] + available_owner_types, selected: params[:owner_type]), onchange: "submit();", class: "form-control" %>
        </div>
        <div class="col-md-3">
          <%= select_tag :event, options_for_select([["Event", nil]] + available_events, selected: params[:event]), onchange: "submit();", class: "form-control" %>
        </div>
        <div class="col-md-3">
          <%= select_tag :event_source, options_for_select([["Event Source", nil]] + available_event_sources, selected: params[:event_source]), onchange: "submit();", class: "form-control" %>
        </div>
        <div class="col-md-3">
          <%= select_tag :time_interval, options_for_select([["Time Interval", nil], ["yearly", "year"], ["monthly", "month"], ["weekly", "week"]], selected: params[:time_interval]), onchange: "submit();", class: "form-control" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <div id='chart'></div>
      <%= render_chart(@chart, 'chart') %>
    </div>
  </div>
</div>