<div class="span12">
  <div class="well">
    <%= link_to "<< back to stats", best_boy_admin_stats_path(:owner_type => current_owner_type) %>
  </div>
</div>

<div class="span12">
  <div class="well">
    <h3>Detailed Statistics</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Source</th>
          <th colspan="2">overall</th>
          <th colspan="2">year</th>
          <th colspan="2">month</th>
          <th colspan="2">week</th>
          <th colspan="2">day</th>
        </tr>
      </thead>
      <% if available_event_sources.first.present? %>
        <tbody>
          <% @sourced_occurrences.keys.each do |source| %>
          <tr>
            <td><%= source %><dd/td>
            <% @sourced_occurrences[source].keys.reverse.each do |time_period| %>
              <td><%= @sourced_occurrences[source][time_period]  %></td>
              <td><%= relative_occurrences(@sourced_occurrences[source], time_period) %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      <% end %>
      <tfoot>
        <tr>
          <th>All</th>
          <% @occurrences[params[:event]].keys.reverse.each do |time_period| %>
            <th><%= @occurrences[params[:event]][time_period]  %></th>
            <th><%= relative_occurrences(@occurrences[params[:event]], time_period)%></th>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<div class="span12">
  <div class="well">
    <h3 class="pull-left">Detailed Statistics for <%= current_year %> per month</h3>
    <div class="pull-right">
      <%= form_tag best_boy_admin_details_path, :method => :get do %>
        <%= hidden_field_tag :owner_type, current_owner_type %>
        <%= hidden_field_tag :event, current_event %>
        <%= select_tag :year, options_for_select(available_years, :selected => current_year), :onchange => "submit();" %>
      <% end %>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Event Source</th>
          <% month_name_array.each do |month| %>
            <th><%= link_to month, best_boy_admin_monthly_details_path(:owner_type => current_owner_type, :event => current_event, :month => month, :year => current_year, :time_interval => "month") %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% if available_event_sources.first.present? %>
          <% @event_selected_year_occurrences.keys.each do |source| %>
            <tr>
              <td><%= source %></td>
              <% @event_selected_year_occurrences[source].keys.each do |month| %>
                <td><%= @event_selected_year_occurrences[source][month] %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><strong>All</strong></td>
          <% @selected_year_totals.keys.each do |month| %>
            <td><%= @selected_year_totals[month] %></td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
