<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "bootstrap_datepicker" %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <script type="text/javascript">
    $(function(){$('#dp1').datepicker().on('changeDate', function(){$('#list-form').submit();})});
  </script>
<% end %>

<%= render "navigation", :referrer => "lists" %>

<div class="span12">
  <div class="well">
    <h3 class="pull-left">Log</h3>
    <div class="pull-right">
      <%= form_tag best_boy_admin_lists_path, :method => :get, :id => "list-form" do %>
        <div class="input-append date pull-left span3" id="dp1" data-date="<%= params[:date].present? ? params[:date] : l(Time.zone.now, :format => "%d-%m-%Y") %>" data-date-format="dd-mm-yyyy">
          <input name="date" class="span2" size="16" type="text" value="<%= params[:date] %>" readonly="readonly">
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
        <%= hidden_field_tag :owner_type, current_owner_type %>
        <%= select_tag :event, options_for_select([["all Events", nil]] + available_events, :selected => current_event), :onchange => "submit();", :class => "span4" %>
      <% end %>
    </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Owner Type</th>
          <th>Event</th>
          <th>Event source</th>
          <th>created_at</th>
        </tr>
      </thead>
      <tbody>
        <% collection.each do |best_boy_event| %>
          <tr>
            <td><%= best_boy_event.owner_type %></td>
            <td><%= best_boy_event.event %></td>
            <td><%= best_boy_event.event_source %></td>
            <td><%= best_boy_event.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate collection %>
  </div>
</div>