%h3
%table.table.table-striped.well
  %thead
    %tr
      %th event
      %th all
      %th year
      %th month
      %th week
      %th day
  %tbody
    - statistics.each do |best_boy_event|
      %tr
        %td= best_boy_event[0]
        %td= best_boy_event[1]
        %td= best_boy_event[2]
        %td= best_boy_event[3]
        %td= best_boy_event[4]
        %td= best_boy_event[5]